{% extends 'mainapp/base.html' %}

{% load static %}

{% block title %}
    <title>Каталог</title>
{% endblock %}

{% block content %}


<body class="body_ix">

    <div class="header">
        {% include 'mainapp/includes/inc_menu.html'%}
        <div class="logo">
            <img src="/static/img/logo.jpeg" alt="logo" width="100">
        </div>

    </div>
    <div class="content_catalog">
        <div class="head">
            <h1>Каталог</h1>
        </div>
        
        <ol class="prod_list">
            <li><img src="../../../static/img/symas5.png" alt="SYMA S5" title="SYMA S5" width="190" height="140"> <br>
                <a href="/">Syma S5</a></li>
            <li><img src="../../../static/img/symas109g.jpg" alt="SYMA S5" title="SYMA S109g" width="190" height="140"><br>
            <a href="/">Syma S109g</a></li>
            <li><img src="../../../static/img/symas109g.jpg" alt="SYMA S5" title="SYMA S109g" width="190" height="140"><br>
            <a href="/">Syma S109g</a></li>
            <li><img src="../../../static/img/symas109g.jpg" alt="SYMA S5" title="SYMA S109g" width="190" height="140"><br>
            <a href="/">Syma S109g</a></li>
            <li><img src="../../../static/img/symas5.png" alt="SYMA S5" title="SYMA S5" width="190" height="140"> <br>
                <a href="/">Syma S5</a></li>
            <li><img src="../../../static/img/symas109g.jpg" alt="SYMA S5" title="SYMA S109g" width="190" height="140"><br>
            <a href="/">Syma S109g</a></li>
        </ol>


    </div>
    <div class="footer_catalog">
        <div class="defense ">
            <p>Все права защищены &copy; 2019 </p>
        </div>
    </div>
</body>

{% endblock %}
{% block js %}
{% endblock %}
