{% extends 'mainapp/base.html' %}

{% load static %}


{% block title %}
        <title>Главная страница</title>
    {% endblock %}
    <link rel = "stylesheet" href = "{% static 'css/style.css' %}">

{% block content %}
    <body class="body_ix">
        <div class="header">
            {% include 'mainapp/includes/inc_menu.html'%}
            <div class="logo">
                <img src="/static/img/logo.jpeg" alt="logo" width="100">
            </div>
            <!--
            <div class=head>
                <h1>Главная</h1>
            </div>
            -->

        </div>
        <div class="container">
            <p> Здравствуй, {{ request.user.username|title }}!</p>
            {% if request.user.is_anonymous %}
                <a href="{% url 'auth:login' %}">Войти</a> или <a href="{% url 'auth:register' %}">Зарегистрироваться</a>
            {% endif %}
            {% if request.user.is_authenticated %}
                <a href="{% url 'auth:edit' request.user.id %}">Редактировать</a>
                <br>
                <a href="{% url 'auth:logout' %}">Выйти</a>
            {% endif %}
            <p>Интернет-магазин R-TOY.RU предлагает широкий ассортимент радиоуправляемых моделей от&nbsp;ведущих производителей. Моделизм&nbsp;&mdash; это увлекательное хобби для детей и&nbsp;взрослых, широкие возможности для активного отдыха и&nbsp;интересное направление в&nbsp;спорте.</p>

            <p>Если вы&nbsp;любите драйв и&nbsp;скорость, мы&nbsp;подарим вам яркие эмоции. Радиоуправляемые модели могут стать отличным подарком как ребенку, так и&nbsp;взрослому мужчине: современные игрушки отличаются серьезными инженерными характеристиками, поэтому будут интересны каждому любителю техники.</p>

            <p>R-TOY.RU предлагает разнообразный спектр продукции: от&nbsp;простых моделей, ориентированных на&nbsp;широкую аудиторию, которые подойдут в&nbsp;том числе и&nbsp;начинающим, до&nbsp;уникальных устройств, требующих опыта в&nbsp;этом увлекательном деле.</p>
        </div>
        <div class="footer_catalog">
            <div class="defense ">
                <p>Все права защищены &copy; {%now 'Y'%} </p>
            </div>
        </div>
        </body>
{% endblock %}
{% block js %}
{% endblock %}
