<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="body_ix">
    <div class="header">

        <div class="logo">
            <img src="/static/img/logo.jpeg" alt="logo" alt="logo" width="100">
        </div>
        <!--
        <div class=head>
            <h1>Главная</h1>
        </div>
        -->
        <div class="divmenu">
            <ul class="menu">
                <li><a href="/">Главная</a></li>
                <li><a href="/contacts/">Контакты</a></li>
                <li><a href="/helicopter/">Каталог</a></li>
            </ul>
        </div>


    </div>
    <div class="container">
        <p>Интернет-магазин R-TOY.RU предлагает широкий ассортимент радиоуправляемых моделей от&nbsp;ведущих производителей. Моделизм&nbsp;&mdash; это увлекательное хобби для детей и&nbsp;взрослых, широкие возможности для активного отдыха и&nbsp;интересное направление в&nbsp;спорте.</p>

        <p>Если вы&nbsp;любите драйв и&nbsp;скорость, мы&nbsp;подарим вам яркие эмоции. Радиоуправляемые модели могут стать отличным подарком как ребенку, так и&nbsp;взрослому мужчине: современные игрушки отличаются серьезными инженерными характеристиками, поэтому будут интересны каждому любителю техники.</p>

        <p>R-TOY.RU предлагает разнообразный спектр продукции: от&nbsp;простых моделей, ориентированных на&nbsp;широкую аудиторию, которые подойдут в&nbsp;том числе и&nbsp;начинающим, до&nbsp;уникальных устройств, требующих опыта в&nbsp;этом увлекательном деле.</p>
    </div>
    <div class="footer_catalog">
        <div class="defense ">
            <p>Все права защищены &copy; 2019 </p>
        </div>
    </div>
</body>
</html>
