{% extends 'mainapp/base.html' %}
{% load custom_tags %}
{% load static %}


{% block title %}
    <title>Каталог</title>
{% endblock %}


{% block content %}
<body class="body_ix">

    <div class="header">
        {% include 'mainapp/includes/inc_menu.html'%}
        <div class="logo">
            <img src="/static/img/logo.jpeg" alt="logo" width="100">
        </div>
    </div>

        <div class="head">
            <h1>Каталог</h1>
        </div>

<div>Количество продуктов в корзине: {{ request.user|basket_total_quantity }}</div>
<div>Общая стоимость корзины: {{ request.user|basket_total_cost }}</div>
    {% include 'mainapp/includes/inc_category_menu.html' %}
    <div style="display: flex; flex-wrap: wrap;" class="category-products clearfix">
        {% for product in products %}
            <div style="margin: 20px" class="block">
                  <div class="card" style="width: 18rem;">
                      <img src="/media/{{ product.image }}" class="card-img-top" alt="product">
                      <div class="card-body">
                          <h5 class="card-title">{{ product.name }}</h5>
                          <p class="card-text">{{ product.short_desc }}</p>
                          <a href="{% url 'basket:add' product.pk %}">Добавить в корзину</a>
                          <br>
                          <a href="{% url 'basket:delete' product.pk %}">Удалить из корзины</a>
                      </div>
                  </div>
              </div>
        {% endfor %}
    </div>

    <div class="footer_catalog">
        <div class="defense">
            <p>Все права защищены &copy; 2019 </p>
        </div>
    </div>

</body>
{% endblock %}


{% block js %}
{% endblock %}
